<div class="row">
    <div class="span12">
    <h1>About us</h1>   
    <p> Quakismart mission is to be a crowdsourced earthquake analysis and visualization application. This project is open to the brightest minds in computer science, mathematical statistics, and Geological research in order to one day become the world’s most advance earthquake analysis, and visualization website.</p> 
    <p>I don’t know if you’re able to imagine, one day, you’re driving in a vehicle. You’re using a GPS app on your phone and you get the following warning: “An earthquake will happen near your destination in 2 to 4 hours; I’m rerouting you to safety. Another type of notification you might receive: “ 1 to 2 days from now an earthquake will happen near your residence.</p>
   <p>Researchers at quakefinder.com are currently trying to make that happen. At quakismart.com, we believe that in order to better predict the future we have to understand the past earthquakes. We are creating a cutting edge crowdsource website to help scientist and researchers better understand and visualize past earthquakes.</p>
  </div>
</div>
