<div class="row">
	<div class="span5">
		<%= render(:partial => "sliders") %>
	</div>
	<div class="span7">
		<%= render(:partial => "google_map") %>	
	</div>
</div>
<br />
<br />
<div class="row">
	<div class="span12">		
		<%= render(:partial => "data_table") %>
	</div>	
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />