<p>Hello World from Quakismart</p>

<div style="position: relative; padding: 200px;">
	<label for="magnitude_range">Magnitude</label>
    <input type="text" id="magnitude_range" />
    <label for="felt_range">Felt</label>
    <input type="text" id="felt_range" />
    <label for="dimension_range">Dimension</label>
    <input type="text" id="dimension_range" />
    <label for="cdi_range">Cdi</label>
     <input type="text" id="cdi_range" />
</div>


<script>
    $(document).ready(function(){

        $("#magnitude_range").ionRangeSlider({
            min: -1.0,
            max: 10.0,
            from: 0.2,
            to: 6,
            type: 'double',
            step: 0.1,
            prettify: false,
            hasGrid: true
        });
        
         $("#felt_range").ionRangeSlider({
            min: 44,
            max: 843,
            from: 144,
            to:544,
            type: 'double',
            step: 10,
            prettify: false,
            hasGrid: true
        });
        
         $("#dimension_range").ionRangeSlider({
            min: 0.4,
            max: 7.0,
            from: 1,
            to: 5,
            type: 'double',
            step: 0.5,
            prettify: false,
            hasGrid: true
        });
        
         $("#cdi_range").ionRangeSlider({
            min: 0.0,
            max: 10.0,
            from: 2.0,
            to: 6.0,
            type: 'double',
            step: 0.1,
            prettify: false,
            hasGrid: true
        });

    });
</script>