html,
body {
   margin:0;
   
   height:100%;
}
#site-container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

.quaki-footer
{
   background: #5F7081;
   border-top:1px dotted #7A7A7A;
   margin:20px auto 0;
   position: relative;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
   padding: 0;
   //-- Make footer stay at the bottom of the page
  
   //position : relative;
   position : absolute;
   bottom : 0;
   width:100%;
   
  
}

.quaki-footer a,
.quaki-footer a:link,
.quaki-footer a:visited,
.quaki-footer a:hover,
.quaki-footer td, 
.quaki-footer th,
.quaki-footer caption
{
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.quaki-footer p 
{
   padding:0;
   text-align: center;
}

.quaki-footer a,
.quaki-footer a:link
{
   color: #DBDBDB;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.quaki-footer a:visited
{
   color: #CCCCCC;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.quaki-footer a:hover
{
   color: #FED0B9;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.quaki-footer h1
{
   color: #8A99A8;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.quaki-footer h2
{
   color: #A1ADBA;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.quaki-footer h3
{
   color: #FA681E;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.quaki-footer h4
{
   color: #7A7A7A;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.quaki-footer h5
{
   color: #7A7A7A;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.quaki-footer h6
{
   color: #7A7A7A;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.quaki-footer img
{
   border: none;
   margin: 0;
}

.quaki-footer-inner
{
   margin: 0 auto;
   min-width: 700px;
   max-width: 1920px;
   width:100%;
   padding:25px;
   padding-right: 25px;
   padding-left: 25px;
}

.quaki-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.quaki-rss-tag-icon:empty
{
   vertical-align: middle;
}

.quaki-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.quaki-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.quaki-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
}

.quaki-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.quaki-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .quaki-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.quaki-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #FEE1D2;
}

.quaki-footer ul>li, .quaki-footer ol
{
   padding: 0;
}

.quaki-footer ul>li
{
   padding-left: 13px;
}

.quaki-page-footer, 
.quaki-page-footer a,
.quaki-page-footer a:link,
.quaki-page-footer a:visited,
.quaki-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #C7CFD6;
}

.quaki-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #BFBFBF;
}ss